<%= form_for newPerson do |f| %>
    <div class="field">
        <%= f.label :last_name, class: "person-label"%>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "person-input"  %>
    </div>
    <div class="field">
        <%= f.label :first_name, class: "person-label"%>
        <%= f.text_field :first_name, placeholder: "First Name", class: "person-input" %>
    </div>
    <div class="field">
        <%= f.label :middle_name, class: "person-label"%>
        <%= f.text_field :middle_name, placeholder: "Middle Name", class: "person-input"  %>
    </div>
    <div class="field">
        <%= f.label :age, class: "person-label"%>
        <%= f.text_field :age, placeholder: "Age", class: "person-input"  %>
    </div>
    <div class="field">
        <label class="person-label">Civil Status</label>
        <% Person::Status.map do |status| %>
            <%= f.radio_button :status, status, class: "person-radio-bullet" %>
            <%= f.label :status, status, value: status.capitalize!, class: "radio-person-gender"%>
        <% end %>
    </div>
    <div class="field">
        <label class="person-label">Gender</label>
        <% Person::Gender.map do |gender| %>
            <%= f.radio_button :gender, gender, class: "person-radio-bullet" %>
            <%= f.label :gender, gender, value: gender.capitalize!, class: "radio-person-gender"%>
        <% end %>
    </div>
    <div class="field">
        <label class="person-label">Birthday</label>
        <%= date_select("person", 
            :birthday, 
            order: [:month, :day, :year], 
            prompt: { month: 'Month', day: 'Day', year: 'Year'}, 
            start_year: Date.current.year, end_year: 1950, class: "person-select-date" )
        %>
    </div>
    <div class="field">
        <%= f.label :height, class: "person-label"%>
        <%= f.text_field :height, placeholder: "Height in cm", class: "person-input" %>
    </div>
    <div class="field">
        <%= f.label :weight, class: "person-label"%>
        <%= f.text_field :weight, placeholder: "Weight in kg", class: "person-input" %>
    </div>
    <div class="field">
        <%= f.label :father_name, class: "person-label"%>
        <%= f.text_field :father_name, placeholder: "Father's Name", class: "person-input" %>
    </div>
    <div class="field">
        <%= f.label :mother_name, class: "person-label"%>
        <%= f.text_field :mother_name, placeholder: "Mother's Name", class: "person-input" %>
    </div>
    <div class="field">
        <%= f.submit 'Next', class: "btn register" %>
    </div>
    
<% end %>