 <fieldset>
    <div class="panel-body">   
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>

        <div class="field">
            <%= f.label :name, class: "person-label"%>
            <%= f.text_field :name, placeholder: "Name", class: "person-input"  %>
        </div>

        <div class="field">
            <%= f.label :profession, class: "person-label"%>
            <%= f.text_field :profession, placeholder: "Job Position", class: "person-input"  %>
        </div>

        <div class="field">
            <%= f.label :company, class: "person-label"%>
            <%= f.text_field :company, placeholder: "Company Name", class: "person-input"  %>
        </div>

        <div class="field">
            <%= f.label :contact, class: "person-label"%>
            <%= f.text_field :contact, placeholder: "Contact Number", class: "person-input"  %>
        </div>
    </div>
</fieldset>
