<% content_for :title, "#{@person.last_name}, #{@person.first_name}" %>
<div id="page-wrap">

    <div class="resume-avatar"><%= avatar_for(@person, size: 150) %></div>

    <div id="contact-info" class="vcard">
    
        <h1 class="fn"><%= @person.last_name%>, <%=@person.first_name%><span class="edit-person">( <%= link_to 'Edit', edit_person_path(@person) %> )</span></h1>
    
        <p>
            Cell: <span class="tel"><%= @person.mobile_number %></span><br />
            Email: <a class="email" href=""><%= @person.email %></a>
        </p>
    </div>
            
    <div id="objective">
        <%  if @person.objectives.any? %>
            <% @person.objectives.map do |obj| %>
                <p>
                    <%= obj.description %>
                </p>
            <% end %>
        <% else %>
            <p><em>No objectives yet.</em> Click <strong><%= link_to 'here', new_person_objective_path(@person)%></strong> to add</p>
        <% end %>
    </div>
    
    <div class="clear"></div>
    
    <dl>

        <dt>Personal Information</dt>
            <dd>
                <div class="resume">
                    <p><label class="resume-label">Address:</label><span class="resume-detail"><%= @person.main_address %></span></p>
                    <p><label class="resume-label">Birthday:</label><span class="resume-detail"><%= @person.birthday.strftime("%B %d, %Y") %></span></p>
                    <p><label class="resume-label">Age:</label><span class="resume-detail"><%= @person.age %></span></p>
                    <p><label class="resume-label">Gender:</label><span class="resume-detail"><%= @person.gender %></span></p>
                    <p><label class="resume-label">Status:</label><span class="resume-detail"><%= @person.status %></span></p>
                    <p><label class="resume-label">Height:</label><span class="resume-detail"><%= @person.height %></span></p>
                    <p><label class="resume-label">Weight:</label><span class="resume-detail"><%= @person.weight %></span></p>
                    <p><label class="resume-label">Mother's Name:</label><span class="resume-detail"><%= @person.mother_name %></span></p>
                    <p><label class="resume-label">Father's Name:</label><span class="resume-detail"><%= @person.father_name %></span></p>               
                </div>
            </dd>
        
        <dd class="clear"></dd>
        
        <dt>Education</dt>
        <% if @person.educations.any? %>
            <dd>
                <h2><strong>Elementary</strong></h2>
                <% @person.educations.select { |elem| elem.education_level == "Elementary"}.map do |educ| %>                                            
                    <p class="resume-education">School Name: <span class="resume-detail"><%= educ.school_name %></span></p>
                    <p class="resume-education">Year Attended: <span class="resume-detail"><%= educ.year_attended %></span></p>                     
                <% end %>
            </dd>
            <dd>
                <h2><strong>Secondary</strong></h2>
                <% @person.educations.select { |elem| elem.education_level == "Secondary"}.map do |educ| %>                                            
                    <p class="resume-education">School Name: <span class="resume-detail"><%= educ.school_name %></span></p>
                    <p class="resume-education">Year Attended: <span class="resume-detail"><%= educ.year_attended %></span></p>                    
                <% end %>
            </dd>
            <dd>
                <h2><strong>Tertiary</strong></h2>
                <% @person.educations.select { |elem| elem.education_level == "Tertiary"}.map do |educ| %>                                            
                    <p class="resume-education">School Name: <span class="resume-detail"><%= educ.school_name %></span></p>
                    <p class="resume-education">Year Attended: <span class="resume-detail"><%= educ.year_attended %></span></p>                   
                <% end %>
            </dd>
        <% else %>
            <dd>
                <p><em>No Education Yet. Click <%= link_to 'here', new_person_education_path(@person)%></em> to add.</p>
            </dd>
        <% end %>
        
        <dd class="clear"></dd>
        
        <dt>Skills</dt>
        <% if @person.skills.any? %>
            <% @person.skills.pluck(:competency).uniq.map do|competency| %>
            <dd>
                <label><strong><%= competency %></strong></label>
                <% @person.skills.select {|skill| skill.competency == competency}.map do |skill| %>
                    <ul class="skills">
                        <li><%= skill.skill_name %></li>
                    </ul>
                <% end %>
            </dd>
            <% end %>
        <% else %>
            <dd>
                <p><em> No skills yet. Click <%= link_to 'here', new_person_skill_path(@person) %> to add</em></p>
            </dd>
        <% end %>
        
        <dd class="clear"></dd>
        
        <dt>Experience</dt>
        <% if @person.experiences.any? %>
            <% @person.experiences.map do |exp| %>
                <dd>
                    <h2><%= exp.company %> <span><%= exp.position %> - <%= exp.year_employed %></span></h2>
                    <p>Job Description: <%= exp.task %></p>
                </dd>
            <% end %>
        <% else %>
            <dd>
                <p><em>No work experience. Click <%= link_to 'here', new_person_experience_path(@person) %> to add</em></em></p>
            </dd>
        <% end %>
            
        <dd class="clear"></dd>
        
        <dt>References</dt>
        <% if @person.references.any? %>
            <dd>
                <% @person.references.map do |ref| %>
                        <h2><strong><%= ref.name %></strong></h2>
                        <p class="resume-education">Company: <span class="resume-detail"><%= ref.company %></span></p>                    
                        <p class="resume-education">Profession: <span class="resume-detail"><%= ref.profession %></span></p>
                        <p class="resume-education">Contract Detail: <span class="resume-detail"><%= ref.contact %></span></p>
                            
                <% end %>
            </dd>
            
        <% else %>
            <dd>Available on request</dd>
        <% end %>
        
        <dd class="clear"></dd>
    </dl>
    
    <div class="clear"></div>

</div>
