<div class="panel panel-default">
    <div class="panel-heading"><%=link_to 'Back', person_objectives_path(person), class: "back"%><center><h5>New Objective</h5></center></div>        
        
        <%= form_for ([person, person.objectives.build]) do |f| %>
            
                <div class="field">
                    <%= f.label :description, class: "person-label"%>
                    <%= f.text_area :description, size: "80x5", placeholder: "", class: "person-input-text-area"  %>
                </div>
                
                <div class="field">
                    <%= f.submit 'Save', class: "btn register" %>
                </div>
                
        <% end %>
</div>