<div class="panel panel-default">
    <div class="panel-heading"><%=link_to 'Back', person_character_references_path(person), class: "back"%><center><h5>Edit Educational Background</h5></center></div>

        <%= form_for ([person, reference]) do |f| %>
            
                <div class="field">
                    <%= f.label :name, class: "person-label"%>
                    <%= f.text_field :name, placeholder: "Name", class: "person-input"  %>
                </div>

                <div class="field">
                    <%= f.label :profession, class: "person-label"%>
                    <%= f.text_field :profession, placeholder: "Job Position", class: "person-input"  %>
                </div>

                <div class="field">
                    <%= f.label :company, class: "person-label"%>
                    <%= f.text_field :company, placeholder: "Company Name", class: "person-input"  %>
                </div>

                <div class="field">
                    <%= f.label :contact, class: "person-label"%>
                    <%= f.text_field :contact, placeholder: "Contact Number", class: "person-input"  %>
                </div>
                
                <div class="field">
                    <%= f.submit 'Save', class: "btn register" %>
                </div>
                
        <% end %>
</div>